.event {
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    max-width: 300px;
}

.card img {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 15px;
}


.card-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-description {
    margin-bottom: 10px;
}

.card-location {
    font-style: italic;
    color: #666;
}