nav {
    color: #fff;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #ffd700; /* Change the color on hover */
}

/* Party app CSS */


.party-hat {
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 70px solid #ffcc00;
    position: relative;
    margin-top: 15px;
}

.party-hat::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 40px solid #e69500;
}

.party-hat::after {
    content: "PARTY";
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    color: #fff;
}

